<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}  
    {% comment %} this is a security measure {% endcomment %}
    <fieldset>
        <legend><h1>{{ question.question_text}}</h1></legend>
        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        {% for choice in question.choice_set.all %}
            <input 
                type="radio"
                name="choice" {% comment %} este nombre choice se utiliza para saber el nombre del campo en el metodo post{% endcomment %}
                id="choice{{ forloop.counter }}"   {% comment %} foorloop.counter is a variable that is available in the forloop context   {% endcomment %}
                value="{{ choice.id }}"
            >
            <label for="choice{{ forloop.counter }}">
                {{ choice.choice_text }}
            </label>
            </input><br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Votar">

</form>

{% comment %} <h1>{{question.question_text}}</h1>
<ul>
    {% if question.choice_set.all %}
        {% for choice in question.choice_set.all %}
            <li>{{ choice.choice_text }}</li>
        {% endfor %}
    {% else %}
        <p>No choices for this question</p>
    {% endif %}
    
</ul>  {% endcomment %}
